phonetic-search-popup {
    display: inline-block;
    position: absolute;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0 15px;
    z-index: 1000;
    overflow: auto;
    width: auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
    white-space: pre;
}